body {
  background-color: #333333
}

.check_in_edit_form {
  padding-left: 25px;
}

.check_in_user_name_title {
  text-align: center;
  color: white;
  border: 2px solid white;
  margin-top: 20px;
}

.restaurant_detail_checkin_title {
  text-align: center;
  color: white;
  border: 2px solid white;
  margin-top: 20px;
}


.user_favorite_title {
  text-align: center;
  color: white;
  border: 2px solid white;
  margin-top: 20px;
}
.check_in_page_title {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.favorite_restaurant_page_title {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.list-group {
  padding-top: 25px;
}

.add_favorite_form {
  padding-left: 20px;
}

.fa-route {
  font-size: 25px
}

.favorite_restaurant_delete {
  text-align: right;
}

.favorite_restaurant_list {
  display: flex;
}

.favorite_restaurant_delete_font_awesome {
  font-size: 20px;
}

.favorite_restaurant_delete_font_awesome:hover {
  color: red;
}

.restaurant_delete_form {
  display: inline-block;
}
 
.favorite_restaurant_name {
  text-align: center;
}

.restaurant_detail_info {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.add_checkin_btn:hover {
  color: green;
}