body {
  background-color: #333333
}

.check_in_edit_form {
  padding-left: 25px;
}

.check_in_user_name_title {
  text-align: center;
  color: white;
  border: 2px solid white;
  margin-top: 20px;
}

.check_in_page_title {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}