{% extends 'shared/base.html' %}

{% block content %}
    <h2 class="favorite_restaurant_page_title">Add Favorite Restaurant</h2>
    <form class="add_favorite_form" style="color:white" action="{% url 'dineblackapp:favorites' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="restaurant">Restaurant: </label>
          <select id="restaurant" type="text" name="restaurant">
                {% for restaurant in restaurants %}
                    <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                {% endfor %}
          </select>
      </fieldset>
      <input type="submit" value="Add-Favorite" />
      </form>

  <h3 class="user_favorite_title">My Favorites</h3>
     
   <div class="list-group">
    {% for user_favorite in user_favorites %}
  <a href="#" class="list-group-item list-group-item-action">{{ user_favorite.restaurant.name }}
  <section id="favorite-actions" style="display:flex;">
        <form action="{% url 'dineblackapp:favorite' user_favorite.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="actual_method" value="DELETE">
          <button class="btn btn-danger ">Delete</button>
        </form>
      </section> 
  </a>
</div>
        {% comment %} <li>
            {{ user_favorite.restaurant.name }}
        </li>
      {% endcomment %}
    {% endfor %}
    
{% endblock content %}
