{% extends 'shared/base.html' %}

{% block content %}

<div class="accordion pt-3" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn add_checkin_btn" style="border:none; background:none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <i class="fas fa-plus-square"></i> Favorite Restaurant
        </button>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
    <form class="add_favorite_form" style="color:black" action="{% url 'dineblackapp:favorites' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="restaurant">Restaurant: </label>
          <select id="restaurant" type="text" name="restaurant">
                {% for restaurant in restaurants %}
                    <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                {% endfor %}
          </select>
      </fieldset>
      <input type="submit" value="Add-Favorite" />
      </form>
      </div>
    </div>
  </div>
    
<h3 class="user_favorite_title">My Favorites</h3>
     
  <div class="list-group favorite_restaurant_list">
    {% for user_favorite in user_favorites %}
    <a target="_blank" href="{{ user_favorite.restaurant.google_maps_link }}" class="list-group-item list-group-item-action favorite_restaurant_name">{{ user_favorite.restaurant.name }}
      <div class="restaurant_delete_form">
        <section id="favorite-actions" class="favorite_restaurant_delete">
          <form action="{% url 'dineblackapp:favorite' user_favorite.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button style="border:none; background:none" class="btn favorite_restaurant_delete_font_awesome"><i class="fas fa-trash-alt"></i></button>
          </form>
        </section> 
      </div>
    </a>
  </div>
        
    {% endfor %}
    
{% endblock content %}
