{% extends 'shared/base.html' %}

{% block content %}
    <h1>Add Favorite Restaurant</h1>
<h3>{{ user.first_name }}</h3>
    <form action="{% url 'dineblackapp:favorites' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="restaurant">Restaurant: </label>
          <select id="restaurant" type="text" name="restaurant">
                {% for restaurant in restaurants %}
                    <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                {% endfor %}
          </select>
      </fieldset>
      <input type="submit" value="Add-Favorite" />
      </form>
     <ol>
    {% for user_favorite in user_favorites %}
        <li>
            {{ user_favorite.restaurant.name }}
        </li>
      <section id="favorite-actions" style="display:flex;">
        <form action="{% url 'dineblackapp:favorite' user_favorite.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="actual_method" value="DELETE">
          <button>Delete</button>
        </form>
      </section>
    {% endfor %}
    </ol>
{% endblock content %}
