{% extends 'shared/base.html' %}

{% block content %}
    <h2 class="restaurant_detail_title">{{ restaurant.name }}</h2>
    <h2>By {{ restaurant.address }}</h2>

    <div>Phone Number: {{ restaurant.phone_number }}</div>

  <h3 class="restaurant_detail_checkin_title">{{ restaurant.name }} Check-Ins</h3>


    <div class="d-flex flex-wrap">
        {% for checkin in checkins %}
<div class="card m-3 p-3" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>        
{% endfor %}
</div>
  {% endblock content %}
