{% extends 'shared/base.html' %}

{% block content %}

    <div class="d-flex flex-wrap">
    {% for restaurants in all_restaurants %}
      <div class="card m-3 p-3" style="width: 18rem;">
        <img class="card-img-top rounded" width="240px" height="200px" src="{{ restaurants.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{ restaurants.name }}</h5>
          <p class="card-text">{{ restaurants.address }}</p>
            <button><a class="restaurant__name" href="{% url 'dineblackapp:restaurant' restaurants.id %}"> Details </a></button>
        </div>
      </div>
    {% endfor %}
      </div>

{% endblock content %}
