{% comment %} {% extends 'shared/base.html' %} {% endcomment %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/restaurant.css' %}" />
{% endblock %}

{% block content %}
    <h1>Restaurants</h1>

    <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog>

    {% comment %} <a href="{% url 'libraryapp:book_form' %}">Add Book to Inventory</a> {% endcomment %}

    <ol class="">
    {% for restaurants in all_restaurants %}
        <li class="restaurant">
            <div class="">
                <h2>{{ restaurants.name }}</h2>
                <p>{{ restaurants.address }}</p>
            </div>
            {% comment %} <button id="detail--{{ book.id }}">Details</button> {% endcomment %}
        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% comment %} {% block scripts %} {% endcomment %}
    {% comment %} <script src="{% static 'scripts/books.js' %}"></script> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}