{% extends 'shared/base.html' %}

{% block content %}
  <body>
    <h1>Edit Check In</h1>
      <form action="{% url 'dineblackapp:checkin' dish_review.id %}" method="post">
      {% csrf_token %}
        <fieldset>
            <label for="dish_name">Dish Name: </label>
            <input id="dish_name" type="text" name="dish_name" value="{{ dish_review.dish_name }}">
        </fieldset>
         <fieldset>
          <label for="dish_image">Dish Image: </label>
          <input type="button" id="upload_widget" class="cloudinary_button" value="Upload image"></button>
          <input id="dish_image" type="hidden" value="" name="dish_image">
        </fieldset>
        <fieldset>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" value="{{ dish_review.description }}">
        </fieldset>
        <fieldset>
            <label for="dish_rating_number">Dish Rating Number: </label>
            <input id="dish_rating_number" type="number" min="1" max="5" name="dish_rating_number" value="{{ dish_review.dish_rating_number }}">
        </fieldset>
        <fieldset>
            <label for="restaurant">Restaurant: </label>
            <select id="restaurant" type="text" name="restaurant">
                {% for restaurant in all_restaurants %}
                <option {% if restaurant.id == dish_review.restaurant_id %}selected{% endif %} value="{{ dish_review.restaurant_id }}">
                    {{ restaurant.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
         <input type="hidden" name="actual_method" value="PUT">
          <input type="submit" value="Update" />    
  </body>
{% endblock content %}
