{% extends 'shared/base.html' %}

{% block content %}
<div class="accordion pt-3" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn add_checkin_btn" style="border:none; background:none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <i class="fas fa-plus-square"></i> Check In
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
    <form style="color:black" class="check_in_edit_form" action="{% url 'dineblackapp:checkins' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="dish_name">Dish Name: </label>
          <input id="dish_name" type="text" name="dish_name">
      </fieldset>
      <fieldset>
          <label for="dish_image">Dish Image: </label>
          <input type="button" id="upload_widget" class="cloudinary_button" value="Upload image"></button>
          <input id="dish_image" type="hidden" value="" name="dish_image">
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" name="description" maxlength="65">
      </fieldset>
      <fieldset>
          <label for="dish_rating_number">Dish Rating Number: </label>
          <input id="dish_rating_number" type="number" min="1" max="5" name="dish_rating_number">
      </fieldset>
      <fieldset>
          <label for="restaurant">Restaurant: </label>
          <select id="restaurant" type="text" name="restaurant">
                {% for restaurant in restaurants %}
                    <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                {% endfor %}
          </select>
      </fieldset>

      <input type="submit" value="Check-In" />
    </form>
      </div>
    </div>
  </div>

  <body>

<h3 class="check_in_user_name_title">{{ user.first_name }}'s Check-Ins</h3>
 <div class="d-flex flex-wrap">
    {% for user_check_in in user_check_ins %}
    <div class="card m-3 p-3" style="width: 18rem;">
      <img class="card-img-top rounded"  width="240px" height="200px" src="{{ user_check_in.dish_img }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ user_check_in.restaurant.name }}</h5>
          <p class="card-text">{{ user_check_in.dish_name }}</p>
          <p class="card-text description-text">"{{ user_check_in.description }}"</p>
          <section id="checkin-actions" style="display:flex;">
          <form action="{% url 'dineblackapp:checkin' user_check_in.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button class="btn btn-danger">Delete</button>
          </form>
          <form action="{% url 'dineblackapp:checkin_edit_form' user_check_in.id %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-warning">Edit</button>
          </form>
      </section>
    </div>
  </div>
{% endfor %}

{% endblock content %}
