{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
<style>
body {
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1488905971602-47901d26961b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
}
</style>

<div class="login_container" width="400" height="400" >
    <img width="400" height="380" style="position:relative;text-align:right;" src='https://lh3.googleusercontent.com/ckhZClxK0dgfb9xrOkutUV9fUHBZP933wuMYrp6_S7NTI8-g6NLp_1p3PHmLOcVXFqacPirk6ryjpA9pYBB75mILU2gwh3FWiKwWBerBp_57V8qLuz00da_ggHcNP2AuTVBwmGPX_AsatGOw4oHQZBabk8n43yZ_xuICbZTmFu0yR9___3MuZZmclDs5VrxnoTTDJ4FwhU2YNYnoQ7wXBg6ZNESgccyxNHWtZ9veJkU098bAd_KK2xMbLVpW3PSJzcaZfQHhxa_NiC23NX_vjC6dQvp82rPwU16jcfJxkgWEYQkhb7mnMUSeQ3oRcbZse_X_QIYxQV1XLi-GXr5O9clsg3S0kQEPFfYnxbASJQunDVLdjYtiZ3Ed9gfZfYc8Bl4c143Ca1_kxnZKUqJBvWCw0dpXOx-lqP59IWoTEVS5AE7CCpGRB5hL_Wx055aZ7tPcYWKf4BBANKicrKXxxRfZaJ-F3m9SkQxl7yORIZoEOlZxH3estXYNpICbRwUbVuNbJCuufejHqe-7DUKx5x9E11btabi2Ct_QhI4cYpeTxsXMaf1jJuA78El5KBdaQFt12OaHd4PBky0SO9EozKD1aJE6V9GT1nfljcCEftg70EgzNVBYVu-oLqcSqqHn8POEkRXQWKAYOZXc5Qhvnc9C37nct8WX9FFutdnOmqs5D6LKbv_Pc2qbWv51=s328-no?authuser=0' alt="Dine Black logo">
    <form class="login_form" style="position:absolute;bottom:46%;padding-left:10px;color:black;" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
</div>
{% endblock content %}
